@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

h1
{

    font-family: Raleway, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;

}